h2 {
  font-size: calc(0.5rem + 1.7vw);
}

.cover {
  background-image: url("../images/background3.jpg");
  height: 800px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: 150px;
  text-align: center;
  color: white;
}

.container-fluid .cover-icon img {
	filter: brightness(70%);
	transition: 0.5s;
}

.container-fluid .cover-icon img:hover{
	filter:brightness(100%);
}

.about {
  background-color: #DFDFDF;
  height: 800px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: 50px;
  text-align: center;
  color: black
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  border-radius: 10%;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: white;
  color: black;
}

/*
@media (min-width: 320px) {
  .cover {
    background-image: url("../images/background.jpg");
    height: 800px;
  }
}

@media (min-width: 576px) {
  .cover {
    height: 400px;
  }
}

@media (min-width: 768px) {
  .cover {
    height: 500px;
  }
}

@media (min-width: 992px) {
  .cover {
    background-image: url("../images/background.jpg");
    height: 600px;
  }
}

@media (min-width: 1200px) {
  .cover {
    background-image: url("../images/background.jpg");
    height: 800px;
  }
}
*/