.about h2 {
  font-size: calc(0.5rem + 1.7vw);
}

.cover {
  background-image: url("../images/background3.jpg");
  height: calc(40rem + 10vw);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: 150px;
  text-align: center;
  color: white;
}

header.cover div.container-fluid.cover-icon img {
	filter: brightness(70%);
	transition: 0.5s;
}

header.cover div.container-fluid.cover-icon img:hover{
	filter:brightness(100%);
}

.about {
  background-color: #DFDFDF;
  height: calc(40rem + 10vw);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: calc(2.5rem + 1vw);
  text-align: center;
  color: black
}

section.experience {
	text-align:center;
	padding-top:calc(2.5rem + 1vw);
}

@media (min-width:768px) {
	section.experience .col-12.col-md-5.icon {
		text-align:right;	
	}
	section.experience .col-12.col-md-6.text {
		text-align:left;
	}
}

.experience img{
	border-radius: 20%
}

footer.foot{
	background-color: black;
	text-align: center;
	color: white;
	height: calc(3rem + 1vw);
	padding-top:calc(0.4rem + 0.8vw);
}

/*
@media (min-width: 320px) {
  .cover {
    background-image: url("../images/background.jpg");
    height: 800px;
  }
}

@media (min-width: 576px) {
  .cover {
    height: 400px;
  }
}

@media (min-width: 768px) {
  .cover {
    height: 500px;
  }
}

@media (min-width: 992px) {
  .cover {
    background-image: url("../images/background.jpg");
    height: 600px;
  }
}

@media (min-width: 1200px) {
  .cover {
    background-image: url("../images/background.jpg");
    height: 800px;
  }
}
*/